<div class="d-flex flex-wrap mb-4">
    <h1 class="flex-grow-1" i18n="@@permiso.add.headline">Add Permiso</h1>
    <div>
        <a routerLink="/permisos" class="btn btn-secondary" i18n="@@permiso.add.back">Back to list</a>
    </div>
</div>
<form [formGroup]="addForm" (ngSubmit)="handleSubmit()">
    <app-input-row [group]="addForm" field="permiso" i18n-label="@@permiso.permiso.label" label="Permiso" />
    <input type="submit" i18n-value="@@permiso.add.headline" value="Add Permiso" class="btn btn-primary mt-4" />
</form>
